.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.car-promo {
  padding: 20px;
  background: rgba(255,0,0,0.4);
}
.car-promo h1 {
  color: red;
  font-weight: bold;
}

.footer{
  font-size: .7em;
  position: absolute;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  pointer-events: none;
  width: 100%;
}

a:active, a:visited, a:link{
  text-decoration: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
