.nav-item {
	padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: calc(100% - 20px);
    background: rgba(200,0,0,1);
}
.nav-item:hover {
	padding: 10px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(230,0,0,1);
}